* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

img {
    max-width: 100%;
}

.imagenes-carrusel {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
    flex-wrap: wrap;
}

.imagenes-carrusel a {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 5px;
}


#macetas {
    width: 250px;
    height: 170px;
}

#sustratos {
    width: 250px;
    height: 170px;
}

#plantas {
    width: 250px;
    height: 170px;
}

#menu-las-moras {
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
}

.suscripcion {
    text-align: center;
    margin-top: 70px;
}

.redes-sociales {
    background-color: #F7F3E3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    gap: 20px;
}

.redes-sociales a img {
    width: 50px;
}

.copyright {
    text-align: center;
    margin-top: 70px;
}

article {
    margin: 50px;
}

article p {
    margin-right: 200px;
}

h3 {
    margin: 50px;
}

.formulario {
    margin-left: 50px;
}

.lista-nav {
    background-color: #9b82a7;
    opacity: 0.9;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
}

.lista-nav a {
    color: #202132;
}


.buscador {
    margin-left: 300px;
}

.padre-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #F7F3E3;
    width: 250px;
    height: 350px;
    margin: 20px;
    text-align: center;
    padding: 10px;

}

.card button {
    font-weight: bold;
    padding: 3px;
    cursor: pointer;
}

.card img {
    width: 250px;
    height: 270px;
}

.card p {
    margin: 5px;
}

.encabezado {
    margin-bottom: 10px;
}


.p-sobre-nosotras{
    margin: 10px 20px;
}

.sobre-nosotras {
    display: flex;
    flex-wrap: wrap;
}

.contenedor-padre{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
}

.contenedor img {
    width: 500px;
}
.reverse {
    flex-direction: row-reverse;
}

.reverse .contenedor-textos {
    text-align: right;
}

.tips-y-cuidados{
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    .contenedor {
        flex-wrap: wrap;
    }
    .lista-nav {
        flex-direction: column;
    }
    .buscador {
        margin-left: 0;
    }
}

